@import url("https://fonts.googleapis.com/css?family=Italianno|Open+Sans");
body {
  height: 100vh;
  font-family: 'Bebas Neue';
  background: linear-gradient(to right, #AFB6BC 0%, #2B2839 70%, #1C1F32 100%);
  background: -moz-linear-gradient(to right, #AFB6BC 0%, #2B2839 70%, #1C1F32 100%); }

#bgImage {
  position: absolute;
  z-index: -1;
  top: 200px; }

.headerBox {
  height: 200px;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #AFB6BC 0%, #1C1F32 100%);
  border-bottom: 2px solid #fafafa; }

.headerSlogan {
  padding: 30px;
  z-index: 9999; }

.headerText:nth-child(3) {
  margin-left: 130px; }

.headerText {
  font-size: 2.25rem;
  text-transform: uppercase;
  margin-top: -5px; }

.cursive {
  font-family: 'Italianno', cursive;
  font-size: 10rem;
  font-weight: 100;
  transform: rotate(-17deg);
  color: #fafafa;
  position: absolute;
  left: 360px;
  top: 50px; }

#logo {
  position: absolute;
  border-radius: 10px 75px;
  padding: 5px;
  right: 20px;
  top: 20px;
  height: 150px;
  z-index: 999;
  background-color: rgba(250, 250, 250, 0.4); }

.formContainer {
  width: 45vw;
  margin: 25px; }

.smSpace {
  margin: 15px 0; }

@media screen and (max-width: 850px) {
  #bgImage {
    position: relative;
    top: 0; }
  .formContainer {
    background-color: #fafafa;
    width: 92vw;
    padding: 15px;
    border-radius: 10px;
    margin: 15px auto; }
  #logo {
    position: relative;
    left: 50px;
    top: 150px;
    height: 175px; } }

@media screen and (max-width: 675px) {
  .checkbox .row {
    display: flex;
    justify-content: space-around; }
  input {
    margin-bottom: 15px; }
  .headerBox {
    width: 100vw;
    margin: 0 auto; }
  .headerText {
    color: #fafafa;
    font-size: 1.75rem;
    text-align: center; }
  .headerText:nth-child(3) {
    margin-left: 0; }
  .cursive {
    font-size: 7.5rem;
    position: static;
    text-align: center;
    margin-top: -10px;
    color: #333333;
    transform: rotate(0deg);
    text-shadow: 0.5px 0.5px 0.5px #fafafa; }
  #logo {
    height: 110px;
    left: 7vw;
    top: 75px;
    border-radius: 5px 25px; } }
